<md-content layout-padding ng-controller="QueriesController" ng-init="find()">
    <div notifications-bar class="notifications"></div>
    <h1>List of queries</h1>
  <div class="list-group">
    <a ng-repeat="query in queries" ui-sref="queries.view({queryId: query._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="query.created | date:'mediumDate'"></span>
        by
        <span ng-bind="query.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="query.title"></h4>
      <p class="list-group-item-text" ng-bind="query.content"></p>
    </a>
  </div>
</md-content>