<md-content layout="column" layout-padding layout-margin layout-align="center center" ng-controller="ArticlesController">
    <div class="md-whiteframe-z2" layout-fill layout="column" layout-align="center center">
        <h1>Import Database</h1>
        <form layout="column" layout-fill layout-align="center center" flex name="articleForm" ng-submit="create(articleForm.$valid)" novalidate>
            <md-button class="md-fab md-primary" ngf-select ng-model="file" name="file" ngf-pattern="'.xls,.csv,.xlsx'" accept=".xls,.csv,.xlsx" ngf-max-size="20MB" required>
                <md-icon class="material-icons">file_upload</md-icon>
            </md-button>            
            {{file.name || 'NO FILE SELECTED'}}
            <md-input-container>
                <md-button type="submit" class="md-raised md-success">Submit</md-button>
            </md-input-container>
        </form>
    </div>
</md-content>