.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.chart_select {
    display:none;
}
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
.mobile-chart {
    min-height: 300px;
}
.panel-primary > .panel-heading {
    background-color: rgb(63,81,181);
    background-image: none;
}

/*NAVBAR MATERIAL COLOR*/
.navbar-inverse{
    background:  rgb(63,81,181);
    border: none;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;   
}
.navbar-inverse .navbar-brand {
    color: white;
}
body{
    
}
.as-sortable-item, .as-sortable-placeholder {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    border-radius: 5px;
}

.as-sortable-item {
    
}

